<!-- Navigation -->
<nav class="header-navbar navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/img/logo.png" alt="Gymfit logo" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/workouts">Rutinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/statistics">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/incidences">Incidencias</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="toastDiv">
    <p id="toastFeedback"></p>
  </div>
<div class="workouts-content">
    <div class="row">
        <div class="col">
            <h5>{{workout.name}}</h5>
            <div class="user-exercises">
                <div *ngFor="let exercise of workout.exercises">
                    <div class="exercise-card">
                        <b>{{exercise.name}}</b> <br>
                        Repeticiones: {{exercise.repetitions}} <br>
                        Peso: {{exercise.weight}} Kg<br>
                        {{exercise.description}} 
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 workout-buttons">
            <button class="button-secondary mt-3" *ngIf="!this.workoutStarted" (click)="startWorkout()">EMPEZAR RUTINA</button>
            <button class="button mt-3" *ngIf="this.workoutStarted" (click)="stopWorkout()">PARAR RUTINA</button>
        </div>
    </div>
</div>
