<!-- Navigation -->
<nav class="header-navbar navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/monitor/profile">
            <img src="../../../../assets/img/logo.png" alt="Gymfit logo" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/monitor/profile">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monitor/users">Usuarios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/monitor/workouts">Rutinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/monitor/incidences">Incidencias</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="toastDiv">
    <p id="toastFeedback"></p>
  </div>
  <div class="workouts-form-content">
    <div class="row">
        <div class="col">
            <h5>{{workout?.name}}</h5>
                <div *ngFor="let exercise of workout.exercises">
                    <div class="exercise-card">
                        <b>{{exercise.name}}</b>
                        <button (click)="deleteExercise(exercise.id)"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            <div *ngIf="!workoutId">
                <form [formGroup]="workoutNameForm" (ngSubmit)="createWorkout()">
                    <!-- <div>
                        <textarea placeholder="Nombre de la rutina" [formControl]="nameWorkout"></textarea>
                    </div> -->
                    <input type="text" [formControl]="nameWorkout" class="form-control" id="inputNameWorkout" placeholder="Nombre de la rutina">
                    <button class="button mt-3" type="submit" [disabled]="!workoutNameForm.valid">CREATE</button>
                  </form>
        
                  <div *ngIf="nameWorkout.errors">
                    <span
                      style="color: red"
                      *ngIf="nameWorkout.errors && (nameWorkout.touched || nameWorkout.dirty)"
                    >
                      <span *ngIf="nameWorkout.errors.required">Workout name is required</span>
                      <span *ngIf="nameWorkout.errors.minlength">Workout name must be at least 4 characters long.</span>
                      <span *ngIf="nameWorkout.errors.maxlength">Workout name can be max 250 characters long</span>
                    </span>         
                  </div>
            </div>
        </div>
        <div *ngIf="exercisesList.length" class="col-4 exercise-buttons">
            <button class="button mt-3" (click)="addExercise()">AÑADIR EJERCICIO</button>
            <h5>Ejercicios disponibles</h5>
            <div [formGroup]="exerciseForm">
                <select class="custom-select" [ngModel]="exerciseSelected" (ngModelChange)="selectExercise($event)" formControlName="exercise">
                    <option value="" disabled>Elige el ejercicio</option>
                    <option *ngFor="let ex of exercisesList" [ngValue]="ex">{{ex?.name}}</option>
                 </select>
            </div>
        </div>
    </div>
</div>