@import "../../../../styles.scss";

.profile-content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../../../../assets/img/background.jpg) no-repeat center center
    fixed;
  background-size: cover;
  opacity: 1;
  z-index: -1;
}

.profile-content img {
  max-width: 40%;
}

/* CUSTOM RADIO */
.gender-selector {
  margin-top: 16px;
}

.gender-selector > input[type="radio"] {
  display: none;
}
.gender-selector > input[type="radio"] + label .fa-circle {
  color: silver;
  transition: color 0.2s ease;
}
.gender-selector > input[type="radio"]:checked + label .male {
  color: deepskyblue;
}
.gender-selector > input[type="radio"]:checked + label .female {
  color: pink;
}
/* END CUSTOM RADIO */

.logout-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  > a {
    color: $blanco;
    &:hover,
    &:focus {
      color: $principal;
    }
  }
}
