<!-- Navigation -->
<nav class="header-navbar navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="/profile">
      <img src="../../../../assets/img/logo.png" alt="Gymfit logo" height="36">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/workouts">Rutinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/statistics">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/incidences">Incidencias</a>
        </li>
        <li class="nav-item">
          <button class="logout-btn" (click)="logout()">
            <a class="nav-link" href="/incidences">Logout</a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="toastDiv">
  <p id="toastFeedback"></p>
</div>
<div class="profile-content">
  <div class="container py-5">
    <div class="text-center mb-4">
      <img src="../../../../assets/img/profile_monitor.jpg" class="img-fluid" alt="imagen del usuario">
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputFirstname">Primer nombre</label>
                        <input type="text" [formControl]="name" class="form-control" id="inputFirstname" placeholder="First name">
                        <div
                          *ngIf="name.errors && isValidForm != null && !isValidForm"
                          [ngClass]="'error'"
                        >
                          <div *ngIf="name.errors.required">Name is required</div>
                          <div *ngIf="name.errors.minlength">
                            Name must be at least 5 characters long.
                          </div>
                          <div *ngIf="name.errors.maxlength">
                            Name can be max 25 characters long.
                          </div>
                        </div>
                      </div>
                    <div class="col-sm-6">
                        <label for="inputLastname">Apellidos</label>
                        <input type="text" [formControl]="surname" class="form-control" id="inputLastname" placeholder="Last name">
                        <div
                          *ngIf="surname.errors && isValidForm != null && !isValidForm"
                          [ngClass]="'error'"
                        >
                          <div *ngIf="surname.errors.required">Surname1 is required</div>
                          <div *ngIf="surname.errors.minlength">
                            Surname1 must be at least 5 characters long.
                          </div>
                          <div *ngIf="surname.errors.maxlength">
                            Surname1 can be max 25 characters long.
                          </div>
                        </div>
                      </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputEmail">Email</label>
                        <input type="email" [formControl]="email" class="form-control" id="inputEmail" placeholder="Email">
                        <div
                          *ngIf="email.errors && isValidForm != null && !isValidForm"
                          [ngClass]="'error'"
                        >
                          <div *ngIf="email.errors.required">Email is required</div>
                          <div *ngIf="email.errors.pattern">Email not a valid format.</div>
                        </div>
                      </div>
                    <div class="col-sm-6">
                        <label for="inputPassword">Contraseña</label>
                        <input type="password" [formControl]="password" class="form-control" id="inputPassword" placeholder="contraseña">
                        <div
                          *ngIf="password.errors && isValidForm != null && !isValidForm"
                          [ngClass]="'error'"
                        >
                          <div *ngIf="password.errors.required">Password is required</div>
                          <div *ngIf="password.errors.minlength">
                            Password must be at least 8 characters long.
                          </div>
                        </div>
                      </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <label for="inputBirthday">Cumpleaños</label>
                        <input type="date" [formControl]="birthday" class="form-control" id="inputBirthday" placeholder="Contact Number">
                        <div
                          *ngIf="birthday.errors && isValidForm != null && !isValidForm"
                          [ngClass]="'error'"
                        >
                          <div *ngIf="birthday.errors.required">Birth date is required</div>
                        </div>
                      </div>
                    <div class="col-sm-6">
                      <div class="gender-selector text-center">
                        <input type="radio" name="option" value="female" id="genderFemale" [formControl]="gender">
                        <label for="genderFemale">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x female"></i>
                            <i class="fa fa-venus fa-stack-1x fa-inverse"></i>
                          </span>
                        </label>
                        <input type="radio" name="option" value="male" id="genderMale" [formControl]="gender" checked/>
                        <label for="genderMale">
                          <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x male"></i>
                            <i class="fa fa-mars fa-stack-1x fa-inverse"></i>
                          </span>
                        </label>
                      </div>
                    </div>
                </div>
                <div class="text-center">
                  <button class="button mt-3" type="submit">GUARDAR</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

