@import "../../../../styles.scss";

.login {
  opacity: 0.99;
}

.login::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: url(../../../../assets/img/background_login.jpg) no-repeat center
    center fixed;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.logo-login {
  max-width: 200px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div {
  text-align: center;
}

form {
  display: inline-block;
}

.line {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.error {
  color: red;
}
