<!-- Navigation -->
<nav class="header-navbar navbar navbar-expand-lg navbar-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/profile">
            <img src="../../../../assets/img/logo.png" alt="Gymfit logo" height="36">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/profile">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/workouts">Rutinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/statistics">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/incidences">Incidencias</a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="toastDiv">
    <p id="toastFeedback"></p>
  </div>
<div class="statistics-content">
    <div class="flex-container">
        <div class="flex-item">
            <h5>Acceso al gimnasio este año</h5>
            <div echarts [options]="accesosGimnasioDatos"></div>
        </div>
        <div class="flex-item">
            <h5>Gente en el gimnasio esta semana</h5>
            <div echarts [options]="genteSemanaDatos"></div>
        </div>
        <div class="flex-item">
            <h5>Tiempo de entrene esta semana</h5>
            <div echarts [options]="tiempoEntreneSemanaDatos"></div>
        </div>
        <div class="flex-item">
            <h5>Rutinas completadas este mes</h5>
            <div echarts [options]="rutinasCompletadasDatos"></div>
        </div>
      </div>
</div>
