/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-family-sans-serif: "Oswald", sans-serif;
$font-family-serif: "Roboto", sans-serif;

$principal: #6d9886;
$secundario: #d9cab3;
$negro: #212121;
$blanco: #f6f6f6;

.button {
  background-color: $principal;
  border-radius: 5px;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: $secundario;
}

.button-secondary {
  background-color: $secundario;
  border-radius: 5px;
  color: black;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.button-secondary:hover {
  background-color: $principal;
  color: white;
}

.line:before,
.line:after {
  flex-grow: 1;
  height: 2px;
  content: "\a0";
  background-color: $principal;
  position: relative;
  top: 0.5em;
}

.line:before {
  margin-right: 10px;
}

.line:after {
  margin-left: 10px;
}

.link {
  color: $principal;
  font-weight: bold;
}

.navbar {
  background-color: $secundario;

  .container {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            color: $blanco;
            &:hover,
            &:focus {
              color: $principal;
            }
          }
        }
        & .nav-item {
          & .active {
            color: $principal;
            font-weight: bold;
          }
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
