/* You can add global styles to this file, and also import other style files */
@import "../node_modules/font-awesome/scss/font-awesome.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto");
$font-family-sans-serif: "Oswald", sans-serif;
$font-family-serif: "Roboto", sans-serif;

$principal: #6d9886;
$secundario: #d9cab3;
$negro: #212121;
$blanco: #f6f6f6;

.button {
  background-color: $principal;
  border-radius: 5px;
  color: white;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  background-color: $secundario;
}

.button-secondary {
  background-color: $secundario;
  border-radius: 5px;
  color: black;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.button-secondary:hover {
  background-color: $principal;
  color: white;
}

.line:before,
.line:after {
  flex-grow: 1;
  height: 2px;
  content: "\a0";
  background-color: $principal;
  position: relative;
  top: 0.5em;
}

.line:before {
  margin-right: 10px;
}

.line:after {
  margin-left: 10px;
}

.link {
  color: $principal;
  font-weight: bold;
}

.navbar {
  background-color: $secundario;

  .container {
    .navbar-collapse {
      .navbar-nav {
        > li {
          > a {
            color: $blanco;
            &:hover,
            &:focus {
              color: $principal;
            }
          }
        }
        & .nav-item {
          & .active {
            color: $principal;
            font-weight: bold;
          }
        }
      }
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

#toastFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

#toastFeedback.requestOk {
  background-color: green;
}

#toastFeedback.requestKo {
  background-color: red;
}

#toastFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.toastDiv {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 8px;
}
